*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
.clerfix::after{
	content: '';
	clear: both;
	display: table;
}
html,body{
	height: 100%;
}
body{
overflow: hidden;
min-width: 1920px;

}
.wrap{
	height: 100%;
}
.float{
	float: left;
}
.float2{
	float: right;
}

.gif{
	width: 1920px;
	height:100%;
	background-image: url(https://i.pinimg.com/originals/51/c2/fc/51c2fca0dd69fbf660823245c8120134.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	padding: 50px 0;
	width: 1720px;
	margin: 0 auto;
}

.nav ul li{
	text-transform: uppercase;
	height: 50px;
	font-size: 24px;
	color: white;
	list-style: none;
	text-align: right;

}
.nav ul li a:link{
	text-transform: uppercase;
text-decoration: none;
color: white;
}
.nav ul li a:visited{
	color: white;
}
.nav ul li:hover{
	font-weight: 900;
}
.hello{
	margin-top: 500px;
}